{% extends "layout.html" %}
{% set page = "tweet_create" %}
{% block maincontent %}
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="form-group text-white">
        {{ form.textbody.label() }}
        {{ form.textbody(class="form-control secondary-bg-color", rows="15") }}
      </div>
      <div class="form-check mt-1">
        {{ form.is_nsfw(class="form-check-input p-2") }}
        {{ form.is_nsfw.label(class="form-check-label text-white") }}
      </div>
      <div class="form-group text-white mt-3">
        {% if is_editing == True %}
          {{ form.submit(class="btn btn-primary",value="Edit")}}
        {% else %}
          {{ form.submit(class="btn btn-primary") }}
        {% endif %}
      </div>
    </form>
{% endblock maincontent %}
