{% extends "layout.html" %}

{% block tweets %}
{% if not current_user.is_authenticated %}
<div>
  <p class="h3 text-white">New To Twittard? Sign Up Now!</p>
</div>
<div class="list-group mt-5">
  <p class="h2 text-white">Why Twittard?</p>
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">No censorship</h5>
    </div>
    <p class="mb-1">Unlike in other mainstream medias you don't get banned for having a different opinion</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Open source code</h5>
    </div>
    <p class="mb-1">The code of this website is available to the public to view and make changes</p>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">No content manipulation</h5>
    </div>
    <p class="mb-1">On other popular sites where the admin manipulates the content algorithm to push a agenda, we don't do that here</p>
  </a>
</div>
{% else %}
  {% if emptyTweets %}
  <p class="h4 text-white mt-5">Such Barren... Follow people to get more tweets</p>
  {% endif %}
  {% if tweets %}
    {% for tweet in tweets %}
      {% include "tweets/tweets.html" %}
    {% endfor %}
    {% include "pagination.html" %}
  {% else %}
    <div class="text-center text-white px-3 mt-5 my-3">
      <span class="fa-stack fa-2x text-muted mb-4">
        <i class="fas fa-people-arrows"></i>
      </span>
      <h2 class="h5">Your home page is barren</h2>
      <p class="text-muted">Follow more people to see more posts!</p>
    </div>
  {% endif %}
{% endif %}
{% endblock tweets %}

{% block includes %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/like.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/textarea.js') }}"></script>
<script type="text/javascript"></script>
{% endblock includes %}
